.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text--center {
  text-align: center;
}

.block {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  background-color: #131429;
  letter-spacing: 0.1;
}

a {
  padding: 1.5vh 3vw 1.5vh 3vw;
}

a:hover {
  background-color: rgba(85, 255, 198, 0.2);
  transform: 1.1;
}

.header {
  border-bottom: rgb(136, 255, 146) 3px solid;
}
.header img {
  width: 5vw;
}
.header .flex--nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  font-size: 0.9rem;
}
.header .flex--nav a {
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.header__name {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2;
  margin-top: 5vw;
}

.nameplate {
  display: flex;
  flex-direction: row;
  justify-content: justify-content;
  align-items: align-items;
  justify-content: center;
  padding: 10vw;
}

.hero {
  color: rgb(136, 255, 146);
  height: 390px;
  max-height: 54vw;
  max-width: 700px;
  position: relative;
  text-transform: uppercase;
  width: 90vw;
  z-index: 1;
}

.hero__line-1 {
  font-size: min(23vw, 180px);
  line-height: 0.8;
}

.hero__line-2 {
  background: var(--color-hero-text);
  color: var(--color-hero-bg);
  font-size: min(13vw, 102px);
  line-height: 1.4;
  background: linear-gradient(#131429 25%, rgb(136, 255, 146) 25%);
  background-attachment: fixed;
  color: #131429;
}

.hero__line-3 {
  font-size: min(8.48vw, 66px);
}

.hero__line-4 {
  color: #131429;
  background: linear-gradient(rgb(136, 255, 146) 25%, #131429 25%);
  background-attachment: fixed;
  font-size: min(8.48vw, 66px);
  margin-left: auto;
  margin-right: auto;
}

.bio__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: align-items;
  background-color: #343047;
  color: white;
  padding: 5%;
  gap: 10px;
  margin: 5%;
  border-radius: 15px 50px;
  font-size: large;
}

.bio__portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 10%;
}

#projects {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, 90%);
}

.projects__header {
  background: linear-gradient(rgb(184, 223, 255) 50%, rgb(136, 255, 146) 90%);
  background-attachment: fixed;
  padding: 5vw;
  margin: 5vw;
}

.project__tile {
  display: flex;
  border-radius: 10px;
  background-color: #343047;
}

@media only screen and (min-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__name {
    padding-right: 5vw;
    padding-left: 5vw;
    margin-top: 0;
  }
  .header .flex--nav {
    gap: 1vw;
  }
  .header .flex--nav a {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .bio__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: align-items;
    gap: 10%;
    font-size: large;
  }
  .bio__portrait {
    width: 40%;
  }
}/*# sourceMappingURL=styles.css.map */