.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text--center {
  text-align: center;
}

.block {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  background-color: #000029;
  letter-spacing: 0.1;
}

a {
  padding: 1.5vh 3vw 1.5vh 3vw;
  text-decoration: none;
}

a:hover {
  background-color: rgba(85, 255, 198, 0.2);
  transform: 1.1;
}

.header {
  border-bottom: rgb(136, 255, 146) 3px solid;
}
.header img {
  width: 5vw;
  height: auto;
}
.header .flex--nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  font-size: 0.9rem;
}
.header .flex--nav a {
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.header__name {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2;
  margin-top: 7vw;
}

.nameplate {
  display: flex;
  flex-direction: row;
  justify-content: justify-content;
  align-items: align-items;
  justify-content: center;
  padding: 15vw;
  margin-top: 17vh;
  margin-bottom: 28vh;
}

.hero {
  color: rgb(136, 255, 146);
  height: 390px;
  max-height: 54vw;
  max-width: 700px;
  position: relative;
  text-transform: uppercase;
  width: 100vw;
  z-index: 1;
}

.hero__line-1 {
  font-size: min(23vw, 180px);
  line-height: 0.8;
}

.hero__line-2 {
  background: var(--color-hero-text);
  color: var(--color-hero-bg);
  font-size: min(13vw, 102px);
  line-height: 1.4;
  background-color: rgb(136, 255, 146);
  color: #000029;
}

.hero__line-3 {
  font-size: min(8.48vw, 66px);
}

.hero__line-4 {
  color: #000029;
  background-color: rgb(184, 223, 255);
  font-size: min(10vw, 66px);
  margin-left: auto;
  margin-right: auto;
}

.bio__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: align-items;
  background-color: #373446;
  color: white;
  padding: 5%;
  gap: 10px;
  margin: 5%;
  border-radius: 15px 50px;
  font-size: large;
  box-shadow: 5px 5px 5px 5px black;
}

.bio__portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

#projects {
  display: grid;
  grid-gap: 15px;
  justify-content: center;
  grid-template-columns: 90vw;
  margin: 0 auto;
}

.projects__header {
  background-color: rgb(184, 223, 255);
  font-size: min(5vw, 30px);
  padding: 5vw;
  width: 80vw;
  box-shadow: 5px 5px 5px 5px black;
}

.project__tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 5vw;
  position: relative;
  border: #373446 5px solid;
  padding: 3vw;
  box-shadow: 5px 5px 5px 5px black;
}
.project__tile::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../img/todo.png");
  background-size: cover;
  background-position: top center;
  opacity: 0.35;
  filter: blur(2px);
}

.project__tile__title, .project__tile__info, .project__link {
  z-index: 1;
  font-size: large;
  font-weight: 700;
  text-align: center;
}

.project__tile__title {
  font-size: 2em;
  margin-bottom: 0;
}

.project__link {
  border: #373446 solid 5px;
  color: rgb(136, 255, 146);
  cursor: pointer;
  width: 40vw;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #373446;
}

.project__link:hover {
  scale: 1.1;
}

#contact {
  background-color: #373446;
  margin-top: 5vh;
  padding: 3vh;
  box-shadow: 20px 20px 20px 20px black;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
}

.contact__header {
  font-size: min(5vw, 30px);
  padding: 1vw;
  width: 30vw;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  color: white;
}

.contact__email__link {
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: min(4vw, 20px);
  color: rgb(184, 223, 255);
  text-align: center;
  margin: 3vh auto;
}

.contact__circle__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.contact__circle__links a {
  padding: 1vw;
}
.contact__circle__links a img {
  width: 50px;
  height: 50px;
}
.contact__circle__links a:hover {
  scale: 1.1;
  background-color: #373446;
}

@media only screen and (min-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__name {
    padding-right: 5vw;
    padding-left: 5vw;
    margin-top: 0;
  }
  .header .flex--nav {
    gap: 1vw;
  }
  .header .flex--nav a {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .nameplate {
    margin-top: 10vh;
  }
  .nameplate .hero__line-2 {
    background: linear-gradient(#000029 39%, rgb(136, 255, 146) 39%);
    background-attachment: fixed;
  }
  .nameplate .hero__line-4 {
    background: linear-gradient(rgb(184, 223, 255) 50%, #000029 50%);
    background-attachment: fixed;
  }
  .bio__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: align-items;
    gap: 10%;
    font-size: large;
  }
  .bio__portrait {
    width: 40%;
  }
  .projects__header {
    background: linear-gradient(rgb(184, 223, 255) 30%, rgb(136, 255, 146) 90%);
    background-attachment: fixed;
  }
}
@media only screen and (min-width: 1300px) {
  #bio, #projects, #contact {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .nameplate {
    padding-top: 10vh;
  }
  #projects {
    display: block;
  }
  .projects__header {
    margin: 0;
    margin-bottom: 5vw;
    width: auto;
    font-size: 2.5em;
    padding: 2vw;
  }
  .project__tile a {
    width: 20vw;
  }
}/*# sourceMappingURL=styles.css.map */