$background-color:#000029;
$background-muted:#373446;
$font-color-main: white;
$font-color-muted: #7f7d87;
$accent-color: rgb(136, 255, 146);
$accent-color-2: rgb(184, 223, 255);
$letter-spacing: 0.1;
$link-hover-background:rgb(85, 255, 198, 0.2);
$hover-scale:1.1;
$font-weights:("thin":400,
    "regular": 500,
    "medium": 600,
    "bold": 700,
    "super-bold":1000
);

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.text--center {
    text-align: center;
}
.block {
    display: block;
}

@function weight($weight-name) {
    @return map-get($map: $font-weights, $key: $weight-name);
}

@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    background-color: $background-color;
    letter-spacing: $letter-spacing;
}

a{
    padding: 1.5vh 3vw 1.5vh 3vw;
    text-decoration: none;
}
a:hover{
    background-color: $link-hover-background;
    transform:$hover-scale;
}

.header {
    border-bottom: $accent-color 3px solid;
    img{
        width: 5vw;
    }
    .flex--nav {
        @include flex(row, center, center);
        gap: 5vw;
        font-size: 0.9rem;
        a {
            font-size: 1em;
            text-decoration: none;
            color: $font-color-main;
        }
    }
}

.header__name {
    color: $font-color-main;
    text-decoration: none;
    font-weight: weight(medium);
    font-size: 1.2;
    margin-top: 7vw;
}

.nameplate {
    @include flex(row, justify-content, align-items);
    justify-content: center;
    padding: 15vw;
    margin-top: 17vh;
    margin-bottom: 28vh;
}

.hero {
    color: $accent-color;
    height: 390px;
    max-height: 54vw;
    max-width: 700px;
    position: relative;
    text-transform: uppercase;
    width: 90vw;
    z-index: 1;
}

.hero__line-1 {
    font-size: min(23vw, 180px);
    line-height: .8;
}
.hero__line-2 {
    background: var(--color-hero-text);
    color: var(--color-hero-bg);
    font-size: min(13vw, 102px);
    line-height: 1.4;
    background: linear-gradient($background-color 39%, $accent-color 39%);
    background-attachment: fixed;
    color: $background-color;
}

.hero__line-3 {
    font-size: min(8.48vw, 66px);
}

.hero__line-4 {
    color: $background-color;
    background: linear-gradient($accent-color 50%, $background-color 50%);
    background-attachment: fixed;
    font-size: min(10.48vw, 66px);
    margin-left: auto;
    margin-right: auto;
}

.bio__container{
    @include flex(column, flex-start, align-items);
    background-color: $background-muted;
    color: $font-color-main;
    padding: 5%;
    gap: 10px;
    margin: 5%;
    border-radius: 15px 50px;
    font-size: large;
    box-shadow: 5px 5px 5px 5px black;
}

.bio__portrait{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10%;
}

#projects{
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    grid-template-columns:90vw;
    margin: 0 auto;
}

.projects__header{
    background: linear-gradient($accent-color-2 30%, $accent-color 90%);
    background-attachment: fixed;
    font-size: min(5vw, 30px);
    padding: 5vw;
    width: 80vw;
    box-shadow: 5px 5px 5px 5px black;
}

.project__tile{
    @include flex(column, center, center);
    color: $font-color-main;
    border-radius: 10px;
    margin-bottom: 5vw;
    position: relative;
    border: $background-muted 5px solid;
    padding: 3vw;
    box-shadow: 5px 5px 5px 5px black;

    &::before {
        content: '';
        position: absolute;
        top:0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url('../img/todo.png');
        background-size:cover;
        background-position: top center;
        opacity: 0.35;
        filter: blur(2px);
    }
}

.project__tile__title, .project__tile__info, .project__link{
    z-index: 1;
    font-size: large;
    font-weight: weight(bold);
    text-align: center;
}

.project__tile__title{
    font-size: 2em;
    margin-bottom: 0;
}

.project__link{
    border: $background-muted solid 5px;
    color: $accent-color;
    cursor: pointer;
    width: 40vw;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: $background-muted;
}

.project__link:hover{
    scale: $hover-scale;
}

#contact{
    background-color: #373446;
    margin-top: 5vh;
    padding: 3vh;
    box-shadow: 20px 20px 20px 20px black;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
}

.contact__header{
    font-size: min(5vw, 30px);
    padding: 1vw;
    width: 30vw;
    margin:0 auto;
    text-align: center;
    font-weight: weight(medium);
    color: $font-color-main;
}

.contact__email__link{
    display: block;
    width: min-content;
    font-size: min(4vw, 20px);
    color: $accent-color-2;
    text-align: center;
    margin: 3vh auto;
}

.contact__circle__links{
    @include flex(row, center, center);
    gap: 15px;
    a{
        padding: 1vw;
        img{
            width: 50px;
            height: 50px;
        }&:hover{
            scale: 1.1;
            background-color: $background-muted;
        }
    }
}


@media only screen and (min-width: 600px) {
    .header {
        @include flex(row, space-between, center);
        .header__name{
            padding-right: 5vw;
            padding-left: 5vw;
            margin-top:0;

        }
        .flex--nav{
            gap: 1vw;
            a{
                padding-right: 5vw;
                padding-left: 5vw;
            }
        }
    }

    .nameplate{
        margin-top: 10vh;
        
    }
    .bio__container{
        @include flex(row, space-around, align-items);
        gap: 10%;
        font-size: large;
    }
    .bio__portrait{
        width: 40%;
    }
}

@media only screen and (min-width: 1300px) {
    #bio, #projects, #contact{
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }

    .header{
        @include flex(row, space-around, center);
    }

    .nameplate{
        padding-top: 10vh;
    }
    
    #projects{
        display:block;
    }
    
    .projects__header{
        margin: 0;
        margin-bottom: 5vw;
        width: auto;
        font-size: 2.5em;
        padding: 2vw
    }
    
    .project__tile{
        a{
            width: 20vw;
        }
    }
}